<header class="form-container sign-in-container">
  <h1>
    <i class="fas fa-sign-in-alt"> <span> LOGIN </span></i>   
  </h1>

  <%- include ("./partials/messages") %>
  <form action="/users/login" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
    <div class="score">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="score">
    <span>
      No Account? 
      <a href="/users/register">
        Register
      </a>
    </span>
  </div>
</header>
