<header>
  <h1>
    <i class="far fa-file-alt fa-3x"></i>
  </h1>
  <div class="score">
    <p>Create an account or login</p>
    <div class="links">
      <h4>
        <button>
          <a href="/users/register" class="btn btn-primary btn-block mb-2">
            Register
          </a>
      </button>
      </h4>
      <h4>
        <button>
          <a href="/users/login" class="btn btn-secondary btn-block">
            Login
          </a>
      </button>
      </h4>
    </div>
  </div>
</header>