@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button:hover,
button:focus {
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ede7f6;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main-container {
  max-height: 100vh;
  max-width: 100vw;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}


.btn {
  cursor: pointer;
  display: inline-block;
  justify-content: space-around;
  width: 60%;
  background: rgb(157, 166, 168);
  padding: 15px;
  font-family: inherit;
  font-size: 2.5rem;
  border: 0;
  border-radius: 20px;
  margin-left: 8rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 2.5rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 2rem;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 2rem;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.score {
  background-color: transparent;
  padding: 2px 4px;
  text-align: center;
  border-radius: 10px;
}

.score p {
  margin-top: 20px;
  color: hsl(0, 0%, 0%);
  letter-spacing: 2px;
  font-size: 3rem;
}

.score span {
  margin-top: 30px;
  color: hsl(0, 0%, 0%);
  letter-spacing: 2px;
  font-size: 2rem;
}

.score span a {
  font-size: 2rem;
  border-radius: 10px;
  background: transparent;
  transition: 0.5s ease-in-out;
  transition-property: font-size, background, transform;
}

.score span a:hover{
  margin-top: 30px;
  background-color: rgba(161, 161, 161, 0.5);
  border-radius: 10px;
  font-size: 2.5rem;
  transform: scale(1.1);
}

.score .links button{
  padding: 1rem 5rem;
  background: rgb(153, 153, 153);
  justify-content: space-around;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #000000;
  font-size: 2rem;
  width: 256px;
  transition: 0.5s ease-in-out;
  transition-property: width, background, transform;
}

.score .links button:focus,
.score .links button:hover {
  border: none;
  outline: none;
  width: 300px;
  background: #f6f6f6bc;
  transform: scale(1.1);
}

#info {
  font-size: 2rem;
}


.header{
  width: 100vw;
  height: 100vh;
  display: block;
  color: black;
}

.no-touch {
  margin: 0;
  padding: 25px 10px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-touch .share {
  margin-right: 40px;
}

#welcome{
  font-size: 1.5rem;
  padding: 5px 0;
  margin-left: 20px;
}

#welcome > div {
  display: flex;
  font-size: 1rem;
}

#btn-logout {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-weight: bold;
  color: #585858;
}

#btn-logout:hover,
#btn-logout:focus {
  border: none;
  outline: none;
}

#lead {
  margin-left: 45rem;
  text-transform: capitalize;
}

#form-name {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  width: 50%;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  overflow-x: scroll;
  margin-left: 30px;
}

#form-name:focus,
#form-name:valid {
  outline: 0;
  border-bottom-color: rgb(0, 0, 0);
}

#form-image {
  size: 10px;
}

.dashboard-container {
  background-image: linear-gradient(130deg, #f5f5f5 0%, rgb(255, 255, 255) 100%);
  display: grid;
	grid-template-columns:repeat(1, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
  margin: auto;
  max-width: 50%;
  margin-top: 15px;
  border-radius: 5px;
}

#share-link {
  border: none;
  cursor: pointer;
  background: transparent;
}